.container {
	width: 100%;
	margin: 0 auto;
	font-size: 16px;
}

.clear {
	clear: all;
}

#page-header {
	background-color: black;
	overflow: hidden;
	border-bottom: 5px solid yellow;
	line-height: 4.5em;
}

#hamburger {
	display:none;
	font-size: 2em;
}

nav {
	float: right;
	width: 60%;
}

.innernav a {
	float: left;
	padding: 0 2em;
	font-family: source sans pro, sans-serif;
	font-size: 1.1em;
	text-decoration: none;
	color: white;
	text-align: center;
}

.innernav a:hover {
	color: #ccc;
}

.innernav strong a {
	font-family: oswald, sans sans-serif;
	text-transform: uppercase;
}

h1 {
	display: block;
	float: left;
	width: 40%;
}

h1 a{
	color: yellow;
	text-decoration: none;
	font-family: merriweather, serif;
	padding-left: 2em;
	font-size: 1.75em;
}

.tagline {
	background-color: #ddd;
	line-height: 4em;
	font-family: merriweather, serif;
	text-align: center;
	font-style: italic;
	font-size: 1.25em;
	padding: 0;
}

#taste {
	color: #bbb;
	text-decoration: line-through;
}

#are {
	border-bottom: 3px solid yellow;
}

.banner {
	background-image: url("../images/coworking.jpg");
	background-color: lightblue;
	background-size: cover;
	background-repeat: none;
/*	height: 500px;*/
	overflow: hidden;

}

.blurb {
	width: 40%;
	float: right;
  	background:rgba(255,255,255,0.75);
  	padding: 1em;
  	margin: 8em 4em;
  	box-shadow: 0 0 .2em .2em #888;
}

h2 {
	font-family: source sans pro, sans-serif;
	font-weight: 700;
	font-size: 1.5em;
}

h3 {
	font-family: merriweather, serif;
	font-weight: 700;
	font-size: 1.25em;
}

p {
	font-family: source sans pro, sans-serif;
	line-height: 1.5em;
	padding: 1em 1.5em 1em 0;
}

.button {
	display: inline-block;
	width: 13em;
	height: 2.5em;
	line-height: 2.5em;
	font-family: oswald, sans-serif;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	color: black;
	background-color: #bbb;
	border-bottom: .3em solid #aaa;
	margin-bottom: 5px;
	border-radius: .25em;
}

.button:hover {
  border-bottom: none;
  margin-top: 5px;
  margin-bottom: 0px;
}

.blurb .button {
	background-color: yellow;
	border-bottom: .3em solid #CCCC00;
	margin: 0;
}

.callouts {
	background-color: #ddd;
	overflow: hidden;
	padding: 2em 0em;
}

.callout {
	display: block;
	float: left;
	width: 30%;
	border-left: .1em solid #aaa;
	padding-left: 2em;
}

#firstcallout {
	border: none;
}

footer {
	background-color: black;
	color: white;
	height: 4em;
	line-height: 4em;
}

.wrapper {
	padding-left: 2em;	
	font-family: source sans pro, sans-serif;
}


@media only screen and (min-width: 1400px) {
	.container {
		width: 1400px;
	}
}

@media only screen and (max-width: 1220px) {
	.innernav a {
		padding: 0 1em;
	}
}

@media only screen and (max-width: 1000px) {
	
	#page-header {
	border-bottom: 0;
}

	.innernav {
		display: none;
	}
	
	nav {
		width: 100%;
		background-color: white;
	}
	
	#hamburger {
		display: block;
		margin: 0 auto;
		color: black;
		text-align: center;
		text-decoration: none;
	}
	
	#hamburger:hover {
		background-color: #aaa;
		color: white;
	}

	h1 {
		display: block;
		text-align: center;
		width:100%;
		border-bottom: 5px solid yellow;
	}

	h1 a {
		padding-left: 0em;
	}

	.innernav a {
		width:100%;
		font-family: source sans pro, sans-serif;
		font-size: 1.1em;
		text-decoration: none;
		color: black;
		text-align: center;
	}

	.innernav a:hover {
		color: yellow;
		background-color: #aaa;
	}

	.innernav strong a {
		font-family: oswald, sans sans-serif;
		text-transform: uppercase;
	}

	.callouts {
		overflow: hidden;
		padding: 2em 0em;
	}

	.callout {
		display: block;
		width: 100%;
		text-align: center;
		border-left: .1em solid #aaa;
		padding-left: 2em;
	}
	.button {
		text-align: center;
		margin: 0em auto 5px auto;
	}
	.button:hover {
		margin-bottom: 5px;
	}
	h3 {
		margin-top: 1em;
	}

}

@media only screen and (max-width: 545px) {
	.blurb .button {
		margin: 0;
		width: auto;
		padding: 0 1em;
}

}